/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 400;

}



h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-weight: 800;

}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.pozadi {
    position: relative;
    display: flex;
}

.recept-komentare {
    position: absolute;
    right: 5%;
    top: 10%;
}

.recept-kategorie {
    position: absolute;
    left: 5%;
    top: 10%;
}

.recept-nazev {
    position: absolute;
    left: 5%;
    bottom: 10%;   
}

.recept-nazev2 {
    position: absolute;
    left: 5%;
    bottom: 5%;
}

img {
    max-width: 100%;
    border: 0.5px solid white;
}

.hlavni-recept {
    float: left;
    object-fit: cover;
}

.burgerfoto {
    float: left;
    object-fit: cover;
    max-height: 250px;
    width: 100%;
}

.sushifoto, .rajcatafoto, .kurefoto, .grilovanifoto {
    float: left;
    object-fit: cover;
    max-height: 90px;
    width: 100%;
}

.recept-nazev {
    font-size: 18px;
}

.recept-nazev2 {
    font-size: 28px;
}



@media (min-width: 480px) {

    

   .sloupec {
        width: 50%;
        float: left;       
   }

   .burgerfoto {
        float: left;
        object-fit: cover;
        max-height: 250px;
        width: 100%;
    }

    .sushifoto, .rajcatafoto, .kurefoto, .grilovanifoto {
        float: left;
        object-fit: cover;
        max-height: 150px;
        width: 100%;
    }

   .recept-nazev {
        font-size: 22px;    
    }   

    .recept-nazev2 {
        font-size: 36px;
    }
    
}

@media (min-width: 860px) {

   .sloupec {
       width: 33.33333%;
       float: right;
   }

   .burger {
        width: 33.33333%;
        float: left;
    }

   .burgerfoto {
       min-height: 400px;
   }

   .sushifoto, .rajcatafoto, .kurefoto, .grilovanifoto {
        float: left;
        object-fit: cover;
        min-height: 200px;
        width: 100%;
    }


    .doporucujeme {
        display: flex;
    }


    .recept-nazev {
        font-size: 28px;
    }
    
    .recept-nazev2 {
        font-size: 48px;
    }

    
}

